@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;

@custom-variant dark (&:is(.dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-500: var(--destructive-500);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-500: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.97 0 0);
  --foreground: oklch(0.2 0.05 255);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2 0.05 255);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2 0.05 255);
  --primary: oklch(0.53 0.13 255);
  --primary-foreground: oklch(0.93 0.02 255);
  --secondary: oklch(64.6% 0.222 41.116);
  --secondary-foreground: oklch(0.7 0.25 35);
  --muted: oklch(0.95 0 0);
  --muted-foreground: oklch(0.55 0 0);
  --accent: oklch(0.96 0 0);
  --accent-foreground: oklch(0.25 0 0);
  --destructive: oklch(0.53 0.2 25);
  --destructive-500: oklch(42.6% 0.135 16.5);

  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9 0 0);
  --input: oklch(0.9 0 0);
  --ring: oklch(0.53 0.13 255);

  /* Chart colors */
  --chart-1: oklch(0.53 0.13 255);
  --chart-2: oklch(0.56 0.15 255);
  --chart-3: oklch(0.42 0.12 255);
  --chart-4: oklch(0.47 0.11 260);
  --chart-5: oklch(0.35 0.08 260);

  /* Sidebar */
  --sidebar: oklch(0.96 0 0);
  --sidebar-foreground: oklch(0.2 0.05 255);
  --sidebar-primary: oklch(0.53 0.13 255);
  --sidebar-primary-foreground: oklch(0.93 0.02 255);
  --sidebar-accent: oklch(0.96 0.01 275);
  --sidebar-accent-foreground: oklch(48.8% 0.243 264.376);
  --sidebar-border: oklch(0.9 0 0);
  --sidebar-ring: oklch(0.53 0.13 255);
}

.dark {
  --background: oklch(0.15 0 0);
  --foreground: oklch(0.97 0 0);
  --card: oklch(0.2 0 0);
  --card-foreground: oklch(0.97 0 0);
  --popover: oklch(0.2 0 0);
  --popover-foreground: oklch(0.97 0 0);
  --primary: oklch(0.43 0.18 250);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.3 0.02 255);
  --secondary-foreground: oklch(0.97 0 0);
  --muted: oklch(0.25 0 0);
  --muted-foreground: oklch(0.75 0 0);
  --accent: oklch(0.25 0 0);
  --accent-foreground: oklch(0.97 0 0);
  --destructive: oklch(0.45 0.2 25);
  --border: oklch(0.3 0 0 / 0.1);
  --input: oklch(0.3 0 0 / 0.15);
  --ring: oklch(0.45 0.05 260);

  /* Chart colors */
  --chart-1: oklch(0.48 0.18 255);
  --chart-2: oklch(0.56 0.15 180);
  --chart-3: oklch(0.65 0.18 80);
  --chart-4: oklch(0.55 0.18 310);
  --chart-5: oklch(0.5 0.22 30);

  /* Sidebar */
  --sidebar: oklch(0.2 0 0);
  --sidebar-foreground: oklch(0.97 0 0);
  --sidebar-primary: oklch(0.48 0.18 255);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.25 0 0);
  --sidebar-accent-foreground: oklch(0.9 0 0);
  --sidebar-border: oklch(0.3 0 0 / 0.1);
  --sidebar-ring: oklch(0.45 0.05 260);
}
* {
  /* scrollbar-width: thin;
  scrollbar-color: theme("colors.primary") theme("colors.gray.300"); */
  /* scrollbar-3dlight-color: theme("colors.");
  scrollbar-darkshadow-color: theme("colors.primary"); */
  /* scrollbar-face-color: theme("backgroundColor.green.500");
  scrollbar-highlight-color: theme("backgroundColor.green.500");
  scrollbar-shadow-color: theme("backgroundColor.green.500"); */
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb; 
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(0.48 0.12 255); /* optional: slightly darker on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--muted); /* thumb / track */
}

.filepond--drop-label {
    font-family: "IRANSansfanum" !important;
}

.filepond--credits {
    display: none;
}

.filepond--file {
  font-family: "IRANSansfanum" !important;
}

@layer base {
  * {
    @apply border-border  outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
